<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>AMAZONS3</Name>
    <Type>Storage</Type>
    <ClassName>com.genexus.db.driver.ExternalProviderS3</ClassName>
    <Properties>
      <Property>
        <Name>STORAGE_PROVIDER_ACCESSKEYID</Name>
        <Value>R474yEKSRyxJhl93FNEphZHqlNhqg1Li7Ay80zWBvO4=</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_SECRETACCESSKEY</Name>
        <Value>oNxdM3KzndS1hV+RlKAe4qtQXylHmhPGgje5LFL9EJMBjkJDUpo9wnRIoisiQsz/</Value>
      </Property>
      <Property>
        <Name>BUCKET_NAME</Name>
        <Value>+JI2dX5RG0BaXEklFi9Acw==</Value>
      </Property>
      <Property>
        <Name>FOLDER_NAME</Name>
        <Value>Content</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_DEFAULT_ACL</Name>
        <Value>Default</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_DEFAULT_EXPIRATION</Name>
        <Value>1440</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_REGION</Name>
        <Value>us-east-1</Value>
      </Property>
      <Property>
        <Name>STORAGE_ENDPOINT</Name>
        <Value>custom</Value>
      </Property>
      <Property>
        <Name>STORAGE_CUSTOM_ENDPOINT</Name>
        <Value>http://localhost:9000</Value>
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>com.genexus.internet.websocket.GXWebSocket</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
</Services>